{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Delicacy</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">

</head>
<body>
    <div class="main_block">
        <div class="container">
            <header class="header">
                <div class="header_items">
                    <a href="{% url 'index' %}" class="delicacy">
                        Delicacy
                    </a>
                </div>
                <div class="header_items">
                    <a href="{% url 'index' %}" class="receipts">Receipts</a>
                </div>
                <div class="header_items">
                    {% if not user.is_authenticated%}
                <a href="{% url 'login' %}" class="usr">
                    Login
                </a>
                {% else %}
                <a href="{% url 'profile' %}" class="usr">Hello: {{ user.get_username }}</a>
                {% endif %}
                </div>
            </header>
            <div class="main_cont">
                <img src="{% static 'img/Main_page_image.png' %}" alt="">
                <h1 class="main_head">Welcome to Delicacy!</h1>
                <p class="main_text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae saepe molestias, sequi aperiam quod tenetur quidem ipsa qui quasi! Et ad ipsa optio, fuga excepturi deleniti omnis blanditiis sunt? A.
                </p>
            </div>
            <footer class="footer">
                <div class="footer_content">
                    <ul>
                        <li>
                            <p class="foottxt">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p> 
                        </li>
                        <li>
                            <p class="foottxt">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p> 
                        </li>
                        <li>
                            <p class="foottxt">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p> 
                        </li>
                    </ul>
                </div>
                <div class="footer_content">
                    <ul>
                        <li>
                            <p class="foottxt">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p> 
                        </li>
                        <li>
                            <p class="foottxt">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p> 
                        </li>
                        <li>
                            <p class="foottxt">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p> 
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>