<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Info</title>
</head>
<body>
    <h1>Alisher Ruziyev and Arystan Assylov Project</h1>
    <h2>We are going to make site that will contain receipts handbook</h2>
    <h3>
        <a href="{% url 'team_members' %}">
            Team members page link
        </a>
    </h3>
    <h3>
        <a href="{% url 'dev_contacts' %}">
            Developers contacts page link
        </a>
    </h3>
</body>
</html>